block setSummaryData
	-
		const dataSummary = {
			titleEn:    'Brand Advertising in World and China Affairs',
			titleZh:    '政见品牌广告——《世界与中国事务》',
			client:     'CNPolitics',
			clientLink: 'http://cnpolitics.org/',
			category:   'Advertisement',
			date:       '2014',
			path:       '/2014/cnp-ad'
		}

block setArtworkData
	-
		const dataArtwork = [
			{
				caption: 'Proposals',
				list: [
					{
						title: 'Proposals of the brand ad',
						file:  'ad-proposals-alt.jpg',
					}
				],
			}
		]

block setDescData
	section.set-desc-en
		p For the chance to incert an advertisement page into the first issue of the academic journal World and China Affairs (Sep 2014, Hong Kong), there were two proposals presented that tried to build an new visual language for CNPolitics that time, which was also applied into the <a href="../../2013/cnp-compilations/">CNPolitics Compilation</a> 2014 Summer issue later.
	
	footer.set-desc-footer
		a.set-desc-footer-item.set-desc-footer-doc(href="./artwork/ad-print.pdf/")
