extends ../../../src/pug/set/index

block var
	- const assetsPath = "../../"
	- const pageTitl   = "Brand advertisement in World and China Affairs" + " · " + "CNPolitics" + " · " + "2014"
	- const bodyClass  = "set"
	- const bodyClassModifier = ""

include data
