block setSummaryData
	-
		const dataSummary = {
			titleEn:    'Shanghai 2015 summer events',
			titleZh:    '上海系列活动·二〇一五年夏',
			client:     'CNPolitics',
			clientLink: 'http://cnpolitics.org/',
			category:   'Website',
			date:       '2015',
			path:       '/2015/cnp-shanghai2015'
		}

block setArtworkData
	-
		const dataArtwork = [
			{
				caption: 'Screen captures',
				list: [
					{
						title: 'Screenshot for wide screens 1',
						file:  'screenshot-wide-1.png',
					}, {
						title: 'Screenshot for wide screens 2',
						file:  'screenshot-wide-2.png',
					}, {
						title: 'Screenshot for wide screens 3',
						file:  'screenshot-wide-3.png',
					}, {
						title: 'Screenshot for wide screens 4',
						file:  'screenshot-wide-4.png',
					}, {
						title: 'Screenshots of narrow screen',
						file:  'screenshot-narrow.png',
					}
				],
			}
		]

block setDescData
	section.set-desc-en
		p The site of CNPolitics Shanghai 2015 summer events is the introduction and guide for the participants.
		p The graphic concept was to present the historiacal sense combining with the contempory visual impression of the CNPolitics team. Built as a single page, it was designed for variable screen sizes and touchable interactions.
	footer.set-desc-footer
		a.set-desc-footer-item.set-desc-footer-link(href="http://cnpolitics.org/event/shanghai-2015/")
		a.set-desc-footer-item.set-desc-footer-github(href="https://github.com/cnpolitics/shanghai-2015")
