extends ../../../src/pug/set/index

block var
	- const assetsPath = "../../"
	- const pageTitl   = "Shanghai 2015 summer events" + " · " + "CNPolitics" + " · " + "2015"
	- const bodyClass  = "set"
	- const bodyClassModifier = ""

include data
