-
	const dataArchive = [
		{
			title: 'The Type · Type is Beautiful',
			list: [
				{
					titleEn:  'The 10th Anniversary',
					titleZh:  '十周年',
					category: 'Website',
					date:     '2017',
					url:      './2017/tib10/',
				}, {
					titleEn:  'TypeDraw',
					titleZh:  'TypeChat 字谈字畅抽奖',
					category: 'Web app',
					date:     '2016',
					url:      './2016/typedraw/',
				}
			],
		}, {
			title: 'CNPolitics · <span lang="zh-Hans">政见</span>',
			list: [
				{
					titleEn:  'Live Working or Die Fighting',
					titleZh:  '劳工的全球化',
					category: 'Book',
					date:     '2017',
					url:      './2017/lwodf/',
				}, {
					titleEn:  'The Internet & New Social Formation in China',
					titleZh:  '粉丝公众',
					category: 'Book',
					date:     '2016',
					url:      './2016/fandom-publics/',
				}, {
					titleEn:  'The 5th Anniversary',
					titleZh:  '五周年',
					category: 'Website',
					date:     '2016',
					url:      './2016/cnp-5years/',
				}, {
					titleEn:  'Tote bag',
					titleZh:  '帆布袋',
					category: 'Tote',
					date:     '2016–2015',
					url:      './2015/cnp-tote/',
				}, {
					titleEn:  'New year greeting for 2016',
					titleZh:  '二〇一六新年问候',
					category: 'Website & newsletter',
					date:     '2015',
					url:      './2015/cnp-greeting2016/',
				}, {
					titleEn:  'Shanghai 2015 summer events',
					titleZh:  '上海系列活动·二〇一五年夏',
					category: 'Website',
					date:     '2015',
					url:      './2015/cnp-shanghai2015/',
				}, {
					titleEn:  'Brand new CNPolitics.org',
					titleZh:  '网站新界面',
					category: 'Website',
					date:     '2015',
					url:      './2015/cnp-webui2015/',
				}, {
					titleEn:  'CNPolitics Compilations',
					titleZh:  '政见合辑',
					category: 'Editorial',
					date:     '2015–2013',
					url:      './2013/cnp-compilations/',
				}, {
					titleEn:  'Brand advertisement in World and China Affairs',
					titleZh:  '品牌广告（刊于《世界与中国事务》）',
					category: 'Advertisement',
					date:     '2014',
					url:      './2014/cnp-ad/',
				}, {
					titleEn:  'Calling card',
					titleZh:  '名片',
					category: 'Visual identity',
					date:     '2013',
					url:      './2013/cnp-card/',
				}, {
					titleEn:  'CNPolitics.org',
					titleZh:  '网站',
					category: 'Website',
					date:     '2013',
					url:      './2013/cnp-webui/',
					flag:     1,
				}, {
					titleEn:  'Logotype',
					titleZh:  '标识',
					category: 'Visual identity',
					date:     '2013',
					url:      './2013/cnp-logotype/',
					flag:     1,
				}
			],
		}, {
			title: 'Zhuji · <span lang="zh-Hans">珠玑文化</span>',
			list: [
				{
					titleEn:  'Caiji Academy',
					titleZh:  '财技学院',
					category: 'Web app & mini app',
					date:     '2019–2018',
					url:      './2018/caiji-academy/',
					flag:     1,
				}, {
					titleEn:  'NM Brand System',
					titleZh:  '新钱品牌系统',
					category: 'Visual identity',
					date:     '2018–2016',
					url:      './2016/nm-brand/',
					flag:     1,
				}, {
					titleEn:  'Caiji Brand System',
					titleZh:  '小小财技品牌系统',
					category: 'Visual identity',
					date:     '2017',
					url:      './2017/caiji-brand/',
					flag:     1,
				}, {
					titleEn:  'NM',
					titleZh:  '新钱',
					category: 'Website',
					date:     '2016',
					url:      './2016/nm/',
					flag:     1,
				}, /*{
					titleEn:  'Zhuji web apps',
					titleZh:  '珠玑 web 应用系列',
					category: 'Web app',
					date:     '2019–2014',
					url:      './2014/zhuji-webapps/',
				}, {
					titleEn:  'Zhuji WeApps',
					titleZh:  '珠玑微信小程序系列',
					category: 'Mini app',
					date:     '2019–2014',
					url:      './2014/zhuji-weapps/',
					flag:     1,
				}, */{
					titleEn:  'HK Insurance',
					titleZh:  '香港保险的秘密',
					category: 'Book',
					date:     '2016',
					url:      './2016/hk-insurance/',
					flag:     1,
				}, {
					titleEn:  'Dayan',
					titleZh:  '大眼',
					category: 'iOS app & web app',
					date:     '2015–2014',
					url:      './2014/dayan/',
					flag:     1,
				}, {
					titleEn:  'JD Read',
					titleZh:  '京东阅读',
					category: 'iOS app & Android app',
					date:     '2015–2014',
					url:      './2014/jdread/',
					flag:     1,
				}, {
					titleEn:  'MZRead',
					titleZh:  '拇指阅读',
					category: 'iOS app & Android app',
					date:     '2014',
					url:      './2014/mzread/',
					flag:     1,
				}
			],
		}, {
			title: 'Peking University · <span lang="zh-Hans">北京大学</span>',
			list: [
				{
					titleEn:  'Peking University Transnational Law Review',
					titleZh:  '北京大学跨国法律评论',
					category: 'Cover',
					date:     '2012',
					url:      './2012/pku-tlr/',
					flag:     1,
				}, {
					titleEn:  '10th Anniversary of School of ECE, Peking University',
					titleZh:  '北京大学信息工程学院十周年院庆',
					category: 'Visual identity',
					date:     '2012',
					url:      './2012/pku-ece-10th/',
					flag:     1,
				}, {
					titleEn:  'The Compass Project',
					titleZh:  '指南针计划',
					category: 'Exhibition',
					date:     '2010',
					url:      './2010/compass-project/',
					flag:     1,
				}, {
					titleEn:  'Peking University Sustainable Campus',
					titleZh:  '北京大学可持续校园',
					category: 'Brochure',
					date:     '2009',
					url:      './2009/pku-sustainable-campus/',
					flag:     1,
				}, {
					titleEn:  'PKU-Columbia Media Literacy Initiative 2009',
					titleZh:  '北京大学-哥伦比亚大学<br>传媒领袖论坛·二〇〇九',
					category: 'Brochure & poster',
					date:     '2009',
					url:      './2009/mli2009/',
					flag:     1,
				}, {
					titleEn:  'Asian International Model United Nations 2009',
					titleZh:  '北京大学国际模拟联合国大会·二〇〇九',
					category: 'Visual identity',
					date:     '2009',
					url:      './2009/aimun2009/',
					flag:     1,
				}, {
					titleEn:  'International Cultural Festival 2007',
					titleZh:  '北京大学第四届国际文化节',
					category: 'Visual identity',
					date:     '2007',
					url:      './2007/icf2007/',
					flag:     1,
				}
			],
		}, {
			title: 'SEED International · ASDAN China',
			list: [
				{
					titleEn:  'SEED · ASDAN China',
					titleZh:  '思德国际·阿思丹学院',
					category: 'Brochure & poster',
					date:     '2018–2012',
					url:      './2012/asdan-china/',
					flag:     1,
				}, {
					titleEn:  'Explore China',
					titleZh:  '思德国际中国游学',
					category: 'Brochure & poster',
					date:     '2013',
					url:      './2013/explore-china/',
					flag:     1,
				}, {
					titleEn:  'Project China',
					titleZh:  '思德国际中国实习',
					category: 'Poster',
					date:     '2013',
					url:      './2013/project-china/',
					flag:     1,
				}, {
					titleEn:  'Country Garden School Excelsis Programme',
					titleZh:  '碧桂园学校精英项目',
					category: 'Brochure',
					date:     '2013',
					url:      './2013/cgs-excelsis/',
					flag:     1,
				}
			],
		}, {
			title: 'Weland International · <span lang="zh-Hans">蔚蓝国际</span>',
			list: [
				{
					titleEn:  'Welite',
					titleZh:  '未来精英计划',
					category: 'Visual identity',
					date:     '2012',
					url:      './2012/welite/',
					flag:     1,
				}, {
					titleEn:  'WEMUN EXPO',
					titleZh:  '国际中学生模拟联合国大会',
					category: 'Visual identity',
					date:     '2012',
					url:      './2012/wemun-expo/',
					flag:     1,
				}, {
					titleEn:  'WEMUN',
					titleZh:  '蔚蓝国际模拟联合国',
					category: 'Visual identity & website',
					date:     '2012–2010',
					url:      './2010/wemun/',
					flag:     1,
				}, {
					titleEn:  'GlobalMUN',
					titleZh:  '蔚蓝国际模拟联合国平台',
					category: 'Website',
					date:     '2010',
					url:      './2010/globalmun/',
					flag:     1,
				}, {
					titleEn:  'WeClub',
					titleZh:  '蔚蓝国际中学生社团项目',
					category: 'Website',
					date:     '2010',
					url:      './2010/weclub/',
					flag:     1,
				}, {
					titleEn:  'THIMUN–WEMUN Overseas 2010',
					titleZh:  '蔚蓝国际模拟联合国平台<br>欧洲出行指南·二〇一〇',
					category: 'Brochure',
					date:     '2010',
					url:      './2010/thimun-wemun/',
					flag:     1,
				}, {
					titleEn:  'WEXPLORE China',
					titleZh:  '蔚蓝国际探索中国项目',
					category: 'Website',
					date:     '2010',
					url:      './2010/wexplore-china/',
					flag:     1,
				}, {
					titleEn:  'HMUN China',
					titleZh:  '哈佛大学模拟联合国中国大会',
					category: 'Visual identity',
					date:     '2010',
					url:      './2010/hmun-china/',
					flag:     1,
				}
			],
		}, {
			title: '&ca.',
			list: [
				{
					titleEn:  'Studio Tempus',
					titleZh:  '浮时摄影工作室',
					category: 'Website',
					date:     '2020–2019',
					url:      './2019/welite/',
					flag:     1,
				}, {
					titleEn:  'Hongjiaoyi',
					titleZh:  '红椒易（传播链）',
					category: 'Web app',
					date:     '2016',
					url:      './2016/hongjiaoyi/',
					flag:     1,
				}, {
					titleEn:  'NS Media',
					titleZh:  '新澎传媒',
					category: 'Visual identity',
					date:     '2015',
					url:      './2015/ns-media/',
					flag:     1,
				}, {
					titleEn:  'Princeton Ivy Lineage Program',
					titleZh:  '普林斯顿精英亲子营',
					category: 'Brochure & card',
					date:     '2014',
					url:      './2014/princeton-ivy-lineage/',
					flag:     1,
				}, {
					titleEn:  'JCKPA',
					titleZh:  '窑法磷酸工艺<br>四川玖长科技有限公司',
					category: 'Brochure',
					date:     '2013',
					url:      './2013/jckpa/',
					flag:     1,
				}, {
					titleEn:  'Academy China Education',
					titleZh:  '学府中国',
					category: 'Poster & leaflet',
					date:     '2012',
					url:      './2012/ace/',
					flag:     1,
				}, {
					titleEn:  'Roche Report 2011 for Fuyang, Anhui, China',
					titleZh:  '罗氏健康调研报告——安徽阜阳南塘村',
					category: 'Brochure',
					date:     '2012',
					url:      './2012/roche-report-fuyang-2011/',
					flag:     1,
				}, {
					titleEn:  'Four Cities: a photo exhibition at PIP2011',
					titleZh:  '四城·四人联展<br>第十一届平遥国际摄影节',
					category: 'Exhibition',
					date:     '2011',
					url:      './2011/4cities/',
					flag:     1,
				}, {
					titleEn:  'Panorama',
					titleZh:  '伯乐拉马',
					category: 'Website',
					date:     '2011',
					url:      './2011/panorama/',
					flag:     1,
				}, {
					titleEn:  'Global Sustainable Leaders Forum',
					titleZh:  '全球可持续发展领袖论坛',
					category: 'Visual identity & website',
					date:     '2010',
					url:      './2010/gslf/',
					flag:     1,
				}, {
					titleEn:  'Roche Diagnostics Scholarship',
					titleZh:  '罗氏诊断奖学金',
					category: 'Poster & card',
					date:     '2009',
					url:      './2009/roche-scholarship/',
					flag:     1,
				}
			],
		}
	]
