extends ../../../src/pug/set/index

block var
	- const assetsPath = "../../"
	- const pageTitl   = "Live Working or Die Fighting" + " · " + "CNPolitics" + " · " + "2017"
	- const bodyClass  = "set"
	- const bodyClassModifier = ""

include data
