extends ../../../src/pug/set/index

block var
	- const assetsPath = "../../"
	- const pageTitl   = "CNPolitics Compilations" + " · " + "CNPolitics" + " · " + "2015–2013"
	- const bodyClass  = "set"
	- const bodyClassModifier = ""

include data
