article.set-desc
	.set-desc-wrap
		block setDescData
			section.set-desc-en
				p The site for the 10th anniversay of Type is Beautiful (presently The Type) is a recapitulation of the salon event in Shanghai, on May 27th, 2017.
				p It was designed and developed as a single page static website, based on the visual plan drafted by Rex Chen.
				p This job presents an implementation of responsive multi-column typography and the Source Han Serif’s webfont family in use for the Chinese copies.
			footer.set-desc-footer
				a.set-desc-footer-item.set-desc-footer-link(href="https://thetype.com/10/")
				a.set-desc-footer-item.set-desc-footer-github(href="https://github.com/thetype/10")

	a.set-desc-handle(href="javascript:void(0)")
		i.set-desc-handle-bar.set-desc-handle-bar--1
		i.set-desc-handle-bar.set-desc-handle-bar--2
		i.set-desc-handle-bar.set-desc-handle-bar--3
