extends ../../../src/pug/set/index

block var
	- const assetsPath = "../../"
	- const pageTitl   = "TypeDraw" + " · " + "TypeChat" + " · " + "2016"
	- const bodyClass  = "set"
	- const bodyClassModifier = ""

include data
