extends ../../../src/pug/set/index

block var
	- const assetsPath = "../../"
	- const pageTitl   = "The 10th Anniversay" + " · " + "Type is Beautiful" + " · " + "2017"
	- const bodyClass  = "set"
	- const bodyClassModifier = ""

include data
